In [1]:
# Testing other stuff...

In [5]:
source_text = 'Hallo, ein Text. Ja, genau, hör dir diesen Text an!'
text = source_text
idx=0
while idx < 1000:
    text = text + ' ' + source_text
    idx=idx+1
str_list = list()
int_list = list()
idx=0
while idx < 5:
    str_list.append(text)
    int_list.append(idx)
    idx=idx+1

In [6]:
import pandas as pd
data_frame = pd.DataFrame(str_list, columns=['text'])
data_frame

                                                text
0  Hallo, ein Text. Ja, genau, hör dir diesen Tex...
1  Hallo, ein Text. Ja, genau, hör dir diesen Tex...
2  Hallo, ein Text. Ja, genau, hör dir diesen Tex...
3  Hallo, ein Text. Ja, genau, hör dir diesen Tex...
4  Hallo, ein Text. Ja, genau, hör dir diesen Tex...

In [7]:
data_frame['c1'] = int_list
data_frame

                                                text  c1
0  Hallo, ein Text. Ja, genau, hör dir diesen Tex...   0
1  Hallo, ein Text. Ja, genau, hör dir diesen Tex...   1
2  Hallo, ein Text. Ja, genau, hör dir diesen Tex...   2
3  Hallo, ein Text. Ja, genau, hör dir diesen Tex...   3
4  Hallo, ein Text. Ja, genau, hör dir diesen Tex...   4

In [10]:
df2 = pd.DataFrame([['neuer text', 99], ['noch neuererer text...', 199]], columns=['text2', 'c2'])
data_frame = data_frame.append(df2)
data_frame

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:7123: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

,c1,c2,text,text2
0,0.0,NaN,"Hallo, ein Text. Ja, genau, hör dir diesen Tex...",NaN
1,1.0,NaN,"Hallo, ein Text. Ja, genau, hör dir diesen Tex...",NaN
2,2.0,NaN,"Hallo, ein Text. Ja, genau, hör dir diesen Tex...",NaN
3,3.0,NaN,"Hallo, ein Text. Ja, genau, hör dir diesen Tex...",NaN
4,4.0,NaN,"Hallo, ein Text. Ja, genau, hör dir diesen Tex...",NaN
0,99.0,NaN,neuer text,NaN
1,199.0,NaN,noch neuererer text...,NaN
0,NaN,99.0,NaN,neuer text
1,NaN,199.0,NaN,noch neuererer text...

In [1]:
from SessionConfigReader import SessionConfigReader

In [2]:
conf = SessionConfigReader.get_config()
conf

{'corpus_importer': ['TenKGNAD'],
 'corpus_identifier': ['articles'],
 'categories_identifier': ['categories'],
 'stopwords_identifier': ['stopwords'],
 'preprocessor': ['custom'],
 'noise_remover': ['custom'],
 'stopword_remover': ['custom'],
 'additional_stopwords': ['ab'],
 'lemmatizer': ['spacy-german'],
 'train_test_splitter': ['custom1'],
 'train_test_split_ratio': [0.5],
 'train_test_split_random_state': [200, 'None'],
 'vectorizer': ['gensim-word2vec', 'sklearn-tfidf'],
 'word-vec_to_doc-vec': ['custom'],
 'word2vec_size': [100],
 'word2vec_window': [5],
 'word2vec_min_count': [3],
 'word2vec_workers': [4],
 'vec_model_id': ['articles_train_word2vec_001'],
 'feature_vec_dim': [100],
 'keras_nn_model_id': ['articles_train_keras_nn_001'],
 'keras_nn_layers': [[['dense', 2000, 'relu'],
   ['dense', 2000, 'LeakyReLU'],
   ['dense', 100, 'LeakyReLU']]],
 'keras_nn_loss': ['cosine_proximity'],
 'keras_nn_optimizer': ['adam'],
 'keras_nn_metrics': ['accuracy'],
 'keras_nn_epochs': [5],
 'keras_nn_batch_size': [256],
 'classifier': ['keras_nn'],
 'classification_interpreter': ['custom1'],
 'classification_interpreter_output_threshold': [0.66]}

In [3]:
SessionConfigReader.set_config(conf, config_id='somesubdir/myconf')

In [6]:
json_f = {}
la = list()
la.append('some item')
json_f['some_p'] = la
SessionConfigReader.set_config(json_f, config_id='test/testconf')